<button id="theme-toggle" class="theme-toggle" title="Toggle theme">☀️</button>

<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Index' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" alt="" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>

</aside>

<nav class="main-nav code">
    <a href="{{ '/category/daily.html' | prepend: site.baseurl | prepend: site.url }}">일상</a>
    <a href="{{ '/category/tech.html' | prepend: site.baseurl | prepend: site.url }}">기술</a>
</nav>
